.table-container{
    padding: 10px;
}
.items-action-buttons {
    padding-bottom: 10px;
}
  
.items-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
  
.items-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
}

.sub-header{
    color: #4245EA;
    padding: 10px 0px 0px 10px;
}
.button-right{
  float: right;
}
.accordion-padding{
  padding : 0px 10px 0px 10px;
}