.login-card {
    max-width: 400px;
  }
 .card-style{
    padding: 150px 500px;
    height: 641px;
    background-image: url('/../black_bg.jfif');
    background-size: cover;
 }
 .center-align{
    text-align: center;
 }
 .login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }
