<div class="card-style">
    <mat-card class="login-card" appearance="outlined">
        <!-- <mat-card-header class="card-header">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
            <div class="center-align">
                <h6>Login</h6>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="login-full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="username">
                  </mat-form-field>

                  <mat-form-field class="login-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" id="pwd" name="pwd">
                  </mat-form-field>
                  <div class="align-checkbox">
                    <!-- An element to toggle between password visibility -->
                    <input type="checkbox" (click)="showPwd()"><span class="showPwd">Show Password</span>
                    <p class="error-msg" *ngIf="isInvalidUser">Please enter valid crendentials.</p>
                  </div>
                  <div class="center-align">
                  <button mat-flat-button>Submit</button>
                  </div>
              </form>
        </mat-card-content>
      </mat-card>
</div>