.login-card {
    max-width: 400px;
    max-height: 400px;
    /* margin: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 .card-style{
    height: 100vh;
    background: rgb(75,63,251);
    background: radial-gradient(circle, rgba(75,63,251,1) 0%, rgba(247,5,54,1) 100%);
 }
.login-full-width {
    width: 100%;
  }
