<div class="sub-header">
    <h4>Items</h4>
</div>
<div class="expansion-action-buttons">
    <button mat-button (click)="accordion().openAll()">Expand All</button>
    <button mat-button (click)="accordion().closeAll()">Collapse All</button>
  </div>
<div class="accordion-padding">
  <mat-accordion class="expansion-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Add Items </mat-panel-title>
        <mat-panel-description>
          <!-- <mat-icon>place_item</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="itemForm" (change)="itemFormChanged(itemForm)">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="itemDatePicker" formControlName="date" (focus)="itemDatePicker.open()" readonly />
          <mat-datepicker #itemDatePicker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Item Name</mat-label>
          <mat-select formControlName="itemName" name="item">
            @for (item of itemsList; track item) {
              <mat-option [value]="item.itemId">{{item.itemName}}</mat-option>
            }
          </mat-select> 
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Procurement Type</mat-label>
          <mat-select formControlName="procurementType" name="procurement">
            @for (procurement of procurementKindList; track procurement) {
              <mat-option [value]="procurement.procurementId">{{procurement.procurementName}}</mat-option>
            }
          </mat-select> 
        </mat-form-field>

        <mat-form-field>
          <mat-label>Qty</mat-label>
          <input matInput formControlName="qty"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>One Qty to K/P</mat-label>
          <input matInput formControlName="oneQtyToKgOrPiece"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BA for One Qty</mat-label>
          <input matInput formControlName="buyingAmountForOneQty"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Total Qty in K/P</mat-label>
          <input matInput formControlName="totalQtyInKgOrPiece"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>BA For One Qty in K/P</mat-label>
          <input matInput formControlName="buyingAmountForOneQtyInKgOrPiece"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Total BA</mat-label>
          <input matInput formControlName="totalBuyingAmount"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>ESA</mat-label>
          <input matInput formControlName="expectedSellingAmount"/>
        </mat-form-field>

        <mat-form-field>
          <mat-label>ESA for K/P</mat-label>
          <input matInput formControlName="expectedSellingAmountForQtyInKgOrPiece"/>
        </mat-form-field>
      </form>
      <ng-container>
        *BA - Buying Amount<br/>
        *ESA - Expected Selling Amount<br/>
        *K/P - Kg/Piece<br/>
        *Qty - Quantity
      </ng-container>
      
      <button mat-flat-button class="button-right" (click)="submitItem()">
        Submit
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Total Items Bought</mat-panel-title>
        <mat-panel-description>
          <!-- Select the Task and Assignee for the date -->
          <!-- <mat-icon>align_items_stretch</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="table-filter">
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilterTotalItems($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
      </div>
      
      <ng-container>
        *BA - Buying Amount<br/>
        *ESA - Expected Selling Amount<br/>
        *K/P - Kg/Piece<br/>
        *Qty - Quantity
      </ng-container>

      <div class="table-container">
        <table mat-table [dataSource]="totalItemsDataSource" class="mat-elevation-z8 demo-table">
          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>

            <!-- Item Name Column -->
            <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef>Item Name</th>
                <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
              </ng-container>
            
            <!-- Qty Name Column -->
            <ng-container matColumnDef="procurementType">
              <th mat-header-cell *matHeaderCellDef>Procurement Type</th>
              <td mat-cell *matCellDef="let element">{{element.procurementType}}</td>
            </ng-container>

            <!-- Qty Column -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef>Qty</th>
              <td mat-cell *matCellDef="let element">{{element.qty}}</td>
            </ng-container>

            <!-- Qty to Kg/Piece Column -->
            <ng-container matColumnDef="oneQtyToKgOrPiece">
              <th mat-header-cell *matHeaderCellDef>One Qty to K/P</th>
              <td mat-cell *matCellDef="let element">{{element.oneQtyToKgOrPiece}}</td>
            </ng-container>

            <!-- Total Buying Amount For Qty Column -->
            <ng-container matColumnDef="buyingAmountForOneQty">
              <th mat-header-cell *matHeaderCellDef>Total BA For One Qty</th>
              <td mat-cell *matCellDef="let element">{{element.buyingAmountForOneQty}}</td>
            </ng-container>

            <!-- Total Qty in Kg/Piece Column -->
            <ng-container matColumnDef="totalQtyInKgOrPiece">
              <th mat-header-cell *matHeaderCellDef>Total Qty in K/P</th>
              <td mat-cell *matCellDef="let element">{{element.totalQtyInKgOrPiece}}</td>
            </ng-container>

             <!-- Buying Amount For Qty in Kg/Piece Column -->
             <ng-container matColumnDef="buyingAmountForOneQtyInKgOrPiece">
              <th mat-header-cell *matHeaderCellDef>BA For One Qty in K/P</th>
              <td mat-cell *matCellDef="let element">{{element.buyingAmountForOneQtyInKgOrPiece}}</td>
            </ng-container>

            <!-- Total Buying Amount Column -->
            <ng-container matColumnDef="totalBuyingAmount">
              <th mat-header-cell *matHeaderCellDef>Total BA</th>
              <td mat-cell *matCellDef="let element">{{element.totalBuyingAmount}}</td>
            </ng-container>

            <!--Expected Selling Amount Column -->
            <ng-container matColumnDef="expectedSellingAmount">
              <th mat-header-cell *matHeaderCellDef>ESA</th>
              <td mat-cell *matCellDef="let element">{{element.expectedSellingAmount}}</td>
            </ng-container>

            <!--Expected Selling Amount for Qty in Kg/Piece Column -->
            <ng-container matColumnDef="expectedSellingAmountForQtyInKgOrPiece">
              <th mat-header-cell *matHeaderCellDef>ESA for Qty in K/P</th>
              <td mat-cell *matCellDef="let element">{{element.expectedSellingAmountForQtyInKgOrPiece}}</td>
            </ng-container>

    
            <tr mat-header-row *matHeaderRowDef="totalItemsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: totalItemsDisplayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
      </div>

    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Items Sold </mat-panel-title>
        <mat-panel-description>
          <!-- <mat-icon>move_item</mat-icon> -->
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="table-container">
        <table mat-table [dataSource]="soldItemsDataSource" class="mat-elevation-z8 demo-table">
            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{element.date}}</td>
            </ng-container>

            <!-- Item Name Column -->
            <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef>Item Name</th>
                <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
              </ng-container>
        
            <!-- Qty Column -->
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef>Qty</th>
              <td mat-cell *matCellDef="let element">{{element.qty}}</td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let element">{{element.amount}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="soldItemsDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: soldItemsDisplayedColumns;"></tr>
        </table>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Remaining Items </mat-panel-title>
          <mat-panel-description>
            <!-- <mat-icon>balance</mat-icon> -->
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <div class="table-container">
            <table mat-table [dataSource]="remainingItemsDataSource" class="mat-elevation-z8 demo-table">
                <!-- Item Name Column -->
                <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef>Item Name</th>
                    <td mat-cell *matCellDef="let element">{{element.itemName}}</td>
                  </ng-container>
            
                <!-- Qty Column -->
                <ng-container matColumnDef="qty">
                  <th mat-header-cell *matHeaderCellDef>Qty</th>
                  <td mat-cell *matCellDef="let element">{{element.qty}}</td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="remainingItemsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: remainingItemsDisplayedColumns;"></tr>
            </table>
          </div>
  
    </mat-expansion-panel>
  </mat-accordion>    
</div>
  
  