<div class="bar-background">
  <mat-toolbar>
    <button mat-icon-button aria-label="Example icon-button with app icon"  routerLink="/home">
        <mat-icon class="gradient-color">groups</mat-icon>
    </button>
    <span class="gradient-color">Fresh Mart</span>
    <span class="bar-spacer"></span>
    <span class="gradient-color">{{ currentTime | date: 'hh:mm:ss a' }}</span>
    <button mat-icon-button aria-label="Example icon-button with user icon">
        <mat-icon class="gradient-color" [matTooltip]="loggedInUser">account_circle</mat-icon>
      </button>
    <button mat-icon-button aria-label="Example icon-button with logout icon">
      <mat-icon class="gradient-color" matTooltip="Logout" (click)="onLogout()">logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
    