.header-spacer {
    flex: 1 1 auto;
  }
  .toolbar-background{
    background: rgb(241,228,234);
    background: radial-gradient(circle, rgba(241,228,234,1) 0%, rgba(217,218,219,1) 100%);
    cursor: pointer;
  }
  .gradient-color {
    background: linear-gradient(red, blue);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }