.manage-icon {
  font-size: 200px;
  height: 200px;
  width: 200px;
  color: white; 
}

.manage-icon-center{
  align-content: center !important;
  text-align: center !important;
}
.home-content-container{
    /* background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
    background: rgb(75,63,251);
    background: radial-gradient(circle, rgba(75,63,251,1) 0%, rgba(247,5,54,1) 100%);
    color: white;
}

.menu-grid-content {
    overflow: hidden;
    word-wrap: break-word;
    height: 80%;
    width: 80%;
    border: 1px solid rgb(241,228,234);
    padding: 5px;
    text-align: center;
    align-content: center;
    cursor: pointer;
}
