.manage-icon {
  font-size: 200px;
  height: 200px;
  width: 200px;
  color: white;
}
  /* .home-container{
    background-color: #EAEDED;
    height: 227px;
  } */
  .home-content-container{
    background-color: #4245EA;
    color: white;
    /* cursor: pointer; */
    height: 250px;
    /* padding: 5px; */
  }

  .card-md {
    max-width: 200px;
    min-width: 200px;
    background-color: #4245EA;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  /* mat-grid-tile {
    background: #EAEDED;
  } */
  canvas {
    border: 1px solid #000;
  }
  span {
    width: 300px;
  }
  